
<br>
<div class="jumbotron">
  <h1>To Do List</h1>
  <p>To Do List is an easy way to keep track of tasks!</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Can't keep track of your daily tasks?</h2>
    <p>To Do List will help you with that, and more!</p>
  </div>
</div>